<%= content_for :title_header do %>
	Experience | SUiTO
<% end %>

<div class="top_main_view">
  <section class="ex_mv_wrap">
    <div class="">
      <h1 class="ex_main_title">
        Experiences
        <%= image_tag("common/spring_icon", alt: "find things to do in Fukuoka") %>
      </h1>

      <div class="pankuzu_wrap">
        <div class="common_inner">
          <ul class="pankuzu_list">
            <li class="pankuzu_item">
              <%= render_breadcrumbs :tag => "li class='pankuzu_item'", :separator => "" %>
          </ul>
        </div>
      </div>
      
      <div class="top_mv_filter" id="MvExpFilter"></div>  

      <div class="ex_main_block">
        <div class="ex_main_block_inner">
          <div class="ex_main_left">
            <% if @experience_latest.present? %>
              <% if @experience_latest.experience_detail.image.attached? %>
                <div class="ex_main_pic" style="background: url(<%= url_for(@experience_latest.image) %>) center center no-repeat;background-size: cover;">
              <% else %>
                <div class="ex_main_pic" style="background: url(<%= image_url('ex/sample_pic')%>) center center no-repeat;background-size: cover;">
              <% end %>

              <p class="ex_new_tag">
                <%= image_tag("ex/new_icon") %>
              </p>

              <div class="ex_info_box">
                <a href="<%= experience_path(@experience_latest) %>" class="ex_info_title">
                  <%= @experience_latest.experience_detail.title %>
                </a>

                <div class="ex_info_inner">
                  <%= link_to @experience_latest.location.province, experiences_path(:q => { :location_province_has_any_term => @experience_latest.location.province }), class: "ex_into_left" %>
                  <% if @experience_latest.categories.present? %>
                    <%= link_to @experience_latest.categories.first.name, experiences_path(:q => { :location_province_has_any_term => @experience_latest.categories.first.name }), class: "ex_into_right" %>
                  <% end %>
                </div>
              </div>                 
                  
              <span class="ex_main_price">
                <%= number_to_currency(@experience_latest.experience_detail.price_adult.to_f) %> 
              </span>
            <% end %>
            </div>
          </div>

          <div class="ex_main_right">
            <%= search_form_for @experience_search, class: "ex_main_form" do |f| %>
              <div class="header_exp_block">
                <div class="input-daterange input-group" data-provide='datepicker'>
                  <%= f.search_field :experience_dates_form_gteq, autocomplete: "off", class: "header_search_date datepicker input-sm form-control", placeholder: "From date"%>
                  <span class="input-group-addon header_search_date_span">to</span>
                  <%= f.search_field :experience_dates_to_lteq, autocomplete: "off", class: "header_search_date datepicker input-sm form-control", placeholder: "To date"%>
                </div>
              </div>

              <div class="header_exp_block">
                <%= f.search_field :location_province_has_any_term, class: "header_search_place", id: "ExSearchPlace", autocomplete: "off" %>
                <div class="header_exp_popup" id="ExPlacePop">
                  <div class="" id="EXSearchPlace_Choose">
                    <ul class="top_mv_place_list">
                      <% @locations.each do |location| %>
                        <li class="top_mv_place_item  <%= cur_stick_active(location.province, :location_province_has_any_term) %>" data-explace="<%= location.province %>">
                          <%= location.province %>
                        </li>
                      <% end %>
                    </ul>
                  </div>
                </div>
              </div>

              <div class="header_exp_block">
                <%= f.search_field :categories_name_has_any_term, class: "header_search_exp", id: "BlogCat", autocomplete: "off" %>
                <div class="header_exp_popup" id="BlogCatPop">
                  </ul class="top_mv_place_list" >
                    <% @categories.each do |category| %>
                      <li class="top_mv_place_item <%= cur_stick_active(category.name, :categories_name_has_any_term) %>" data-explace="<%= category.name %>">
                        <%= category.name %> 
                      </li>
                    <% end %>
                  </ul>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="common_inner">
    <section class="ex_list_block">
      <div class="ex_list_top_area">
        <p class="ex_list_num"><span><%= @blog_count %></span><span>/</span><span><%= @blog_count %></span> blogs</p>
				<%= paginate @blogs %>
      </div>

      <div class="ex_list_loop_block clearfix">
        <article class="ex_comon_list">
          <a href="" class="ex_common_up">
            <div class="ex_common_pic" style="background: url(<%= image_url('ex/pic01')%>) center center no-repeat;background-size: cover;">
              <div class="filter"></div>
              <span class="price_tag">¥2,400</span>
            </div>
            <h1 class="title">Japanese Calligraphy</h1>
            <p class="text">
              you can learn how to write your favorite Japanese character s(kanji) the traditional way and then print it on a T-shirt......
            </p>
          </a>
          <div class="ex_common_down">
            <a href="" class="place"><span>Momochihama</span></a>
            <a href="" class="tag"><span>Entertainment</span></a>
          </div>
        </article>
        <article class="ex_comon_list">
          <a href="" class="ex_common_up">
            <div class="ex_common_pic" style="background: url(<%= image_url('ex/pic01')%>) center center no-repeat;background-size: cover;">
              <div class="filter"></div>
              <span class="price_tag">¥2,400</span>
            </div>
            <h1 class="title">Japanese Calligraphy</h1>
            <p class="text">
              you can learn how to write your favorite Japanese character s(kanji) the traditional way and then print it on a T-shirt......
            </p>
          </a>
          <div class="ex_common_down">
            <a href="" class="place"><span>Momochihama</span></a>
            <a href="" class="tag"><span>Entertainment</span></a>
          </div>
        </article>
        <article class="ex_comon_list">
          <a href="" class="ex_common_up">
            <div class="ex_common_pic" style="background: url(<%= image_url('ex/pic01')%>) center center no-repeat;background-size: cover;">
              <div class="filter"></div>
              <span class="price_tag">¥2,400</span>
            </div>
            <h1 class="title">Japanese Calligraphy</h1>
            <p class="text">
              you can learn how to write your favorite Japanese character s(kanji) the traditional way and then print it on a T-shirt......
            </p>
          </a>
          <div class="ex_common_down">
            <a href="" class="place"><span>Momochihama</span></a>
            <a href="" class="tag"><span>Entertainment</span></a>
          </div>
        </article>
        <article class="ex_comon_list">
          <a href="" class="ex_common_up">
            <div class="ex_common_pic" style="background: url(<%= image_url('ex/pic01')%>) center center no-repeat;background-size: cover;">
              <div class="filter"></div>
              <span class="price_tag">¥2,400</span>
            </div>
            <h1 class="title">Japanese Calligraphy</h1>
            <p class="text">
              you can learn how to write your favorite Japanese character s(kanji) the traditional way and then print it on a T-shirt......
            </p>
          </a>
          <div class="ex_common_down">
            <a href="" class="place"><span>Momochihama</span></a>
            <a href="" class="tag"><span>Entertainment</span></a>
          </div>
        </article>
        <article class="ex_comon_list">
          <a href="" class="ex_common_up">
            <div class="ex_common_pic" style="background: url(<%= image_url('ex/pic01')%>) center center no-repeat;background-size: cover;">
              <div class="filter"></div>
              <span class="price_tag">¥2,400</span>
            </div>
            <h1 class="title">Japanese Calligraphy</h1>
            <p class="text">
              you can learn how to write your favorite Japanese character s(kanji) the traditional way and then print it on a T-shirt......
            </p>
          </a>
          <div class="ex_common_down">
            <a href="" class="place"><span>Momochihama</span></a>
            <a href="" class="tag"><span>Entertainment</span></a>
          </div>
        </article>
        <article class="ex_comon_list">
          <a href="" class="ex_common_up">
            <div class="ex_common_pic" style="background: url(<%= image_url('ex/pic01')%>) center center no-repeat;background-size: cover;">
              <div class="filter"></div>
              <span class="price_tag">¥2,400</span>
            </div>
            <h1 class="title">Japanese Calligraphy</h1>
            <p class="text">
              you can learn how to write your favorite Japanese character s(kanji) the traditional way and then print it on a T-shirt......
            </p>
          </a>
          <div class="ex_common_down">
            <a href="" class="place"><span>Momochihama</span></a>
            <a href="" class="tag"><span>Entertainment</span></a>
          </div>
        </article>
        <article class="ex_comon_list">
          <a href="" class="ex_common_up">
            <div class="ex_common_pic" style="background: url(<%= image_url('ex/pic01')%>) center center no-repeat;background-size: cover;">
              <div class="filter"></div>
              <span class="price_tag">¥2,400</span>
            </div>
            <h1 class="title">Japanese Calligraphy</h1>
            <p class="text">
              you can learn how to write your favorite Japanese character s(kanji) the traditional way and then print it on a T-shirt......
            </p>
          </a>
          <div class="ex_common_down">
            <a href="" class="place"><span>Momochihama</span></a>
            <a href="" class="tag"><span>Entertainment</span></a>
          </div>
        </article>
        <article class="ex_comon_list">
          <a href="" class="ex_common_up">
            <div class="ex_common_pic" style="background: url(<%= image_url('ex/pic01')%>) center center no-repeat;background-size: cover;">
              <div class="filter"></div>
              <span class="price_tag">¥2,400</span>
            </div>
            <h1 class="title">Japanese Calligraphy</h1>
            <p class="text">
              you can learn how to write your favorite Japanese character s(kanji) the traditional way and then print it on a T-shirt......
            </p>
          </a>
          <div class="ex_common_down">
            <a href="" class="place"><span>Momochihama</span></a>
            <a href="" class="tag"><span>Entertainment</span></a>
          </div>
        </article>
        <article class="ex_comon_list">
          <a href="" class="ex_common_up">
            <div class="ex_common_pic" style="background: url(<%= image_url('ex/pic01')%>) center center no-repeat;background-size: cover;">
              <div class="filter"></div>
              <span class="price_tag">¥2,400</span>
            </div>
            <h1 class="title">Japanese Calligraphy</h1>
            <p class="text">
              you can learn how to write your favorite Japanese character s(kanji) the traditional way and then print it on a T-shirt......
            </p>
          </a>
          <div class="ex_common_down">
            <a href="" class="place"><span>Momochihama</span></a>
            <a href="" class="tag"><span>Entertainment</span></a>
          </div>
        </article>
      </div>
      <ul class="ex_list_up_pager bottom">
        <li class="ex_list_up_pager_item">
          <a href="" class="prev">
            <%= image_tag("ex/left_icon02") %>
          </a>
        </li>
        <li class="ex_list_up_pager_item">
          <a href="" class="common active">
            1
          </a>
        </li>
        <li class="ex_list_up_pager_item">
          <a href="" class="common active">
            2
          </a>
        </li>
        <li class="ex_list_up_pager_item">
          <a href="" class="common active">
            3
          </a>
        </li>
        <li class="ex_list_up_pager_item">
          ...
        </li>
        <li class="ex_list_up_pager_item">
          <a href="" class="common active">
            7
          </a>
        </li>
        <li class="ex_list_up_pager_item">
          <a href="" class="next">
            <%= image_tag("ex/right_icon02") %>
          </a>
        </li>
      </ul>
    </section>
  </div>

  <section class="common_bottom_pic_block">
    <%= image_tag("common/bottom_mv_pic") %>
    <a href="" class="common_bottom_pic_btn"><span>Japanese Restaurant SUiTO</span></a>
  </section>
</div>