<div class="top_main_wrap">
  <div class="top_main_view">
	  <div class="">
      <div class="pankuzu_wrap bg">
        <div class="common_inner">
          <ul class="pankuzu_list">
						<%= render_breadcrumbs :tag => "li class='pankuzu_item'", :separator => ""%>
          </ul>
        </div>
      </div>
      
      <div class="blogdetail_wrap clearfix">
	      <section class="blogdetail_main">
		      <div class="blogdetail_mv_pic" style="background: url(<%= image_url("common/sample_pic.jpg") %>) center center no-repeat;background-size: cover;"></div>
		      <div class="blogdetail_mv_block">
						<div class="blogdetail_info">
							<p class="tag">Shopping</p>
							<p class="date">2017/08/14</p>
						</div>
						<h1 class="blogdetail_title">
							Souvenirs from Fukuoka International Airport - Which one do you choose ?-
						</h1>
						<p class="main_place">
			      	<%= image_tag("common/place_icon.png") %>
			      	<a href="">Momochihama</a>
		      	</p>
		      </div>
		      <div class="blogdetail_textarea">
						There are plenty of regular souvenirs but why not taking time to choose something a bit more special?<br>
						We selected 10 items that you can easily find in the city center. We excluded items 
						that you can immediately find on the internet; at the Airport or at the station. Of 
						course there are plenty of other souvenirs but just take our selection as an example. <br><br><br><br>
						1.  rice crackers<br>
						
						<%= image_tag("blog/sample_pic01.jpg") %>
						A souvenir that is very light to bring back and can last for a long time compared to raw mentaiko.<br><br>
						
						The first item is unfortunately a well-known souvenir: Japanese rice crackers 
						(senbei) mentaiko flavor. Many people know about it! <br>
						A souvenir that is very light to bring back and can last for a long time compared to raw mentaiko. One package of rice crackers is cheap and it is a good option when 
						you want to make a present to your coworkers (or many people) at an affordable price. The shop offers not only "crackers" but also mentaiko and a cafe space.<br><br><br>
						information<br><br>
						FUKUTARO CAFE & STORE (Yamaguchi Aburaya Fukutaro)<br><br>
						Address<br>
						1F Tenjin TERURA Building, 5-25-18, Watanabedōri, Chuoh-ku, Fukuoka<br><br>
						Phone number: 092-713-4441<br><br>
						Open hours : 9:30～20:00<br><br><br><br><br>
						2. Dry Mentaiko skin <br>
						<%= image_tag("blog/sample_pic01.jpg") %>
						Here is a strange product!<br>
						The most delicious part of Mentaiko (the skin) is dried and made in a jerky style.<br> 
						It a condensation of "umami" (flavor) and "karami" (spice). The more you chew and 
						the more it is tasty. Delicous a little broiled too. Perfect snack with alcohool.<br><br>
						information<br><br>
						FUKUTARO CAFE & STORE (Yamaguchi Aburaya Fukutaro)<br><br>
						Address<br>
						1F Tenjin TERURA Building, 5-25-18, Watanabedōri, Chuoh-ku, Fukuoka<br><br>
						Phone number: 092-713-4441<br><br>
						Open hours : 9:30～20:00<br><br><br><br><br>
						3. Hakata Chocolate Cobblestone<br><br>
						This chocolate shop is the first one which was established in Fukuoka as a European 
						style sweets shop. The most popular chocolate is the Chocolate Cobblestone with five layers of sponge cake and mousse coated with chocolate. The chocolate melts in your mouth.A souvenir that you want to get for yourself as well!<br><br>
						information<br><br>
						FUKUTARO CAFE & STORE (Yamaguchi Aburaya Fukutaro)<br><br>
						Address<br>
						1F Tenjin TERURA Building, 5-25-18, Watanabedōri, Chuoh-ku, Fukuoka<br><br>
						Phone number: 092-713-4441<br><br>
						4. Hakata Koishi<br><br>
						
						Bite-sized cookies with a strange texture that you can't stop to eat!<br>
						It looks gorgeous when the five different colors are aligned next to each other.The 
						design is linked to the traditional craft of Hakata, Hakata Textile. Hakata Textile, which was presented to the Tokugawa Shogunate in Edo Era, has five colors; blue, red, dark blue, yellow and purple. Five flavors of Hakata Koishi originated from five colors of Hakata Textile. Flavors; refined Japanese sugar, matcha, strawberry, soybean flour, purple sweet potato.<br><br><br>
						information<br><br>
						FUKUTARO CAFE & STORE (Yamaguchi Aburaya Fukutaro)<br><br>
						Address<br>
						1F Tenjin TERURA Building, 5-25-18, Watanabedōri, Chuoh-ku, Fukuoka<br><br>
						Phone number: 092-713-4441<br><br>
						Open hours : 9:30～20:00<br><br><br><br><br>
						5. Dacquoise<br><br>
						Dacquoise was invented by Japanese chef Takao Mishima, the owner and chef of France Kashi 16-ku, who is famous as a leading chef in Western-style confectionery industry. ombining the Japanese sweet monaka and the European dessert meringu.<br> 
						The texture of Dacquoise is crispy outside and fluffy inside. The dough is made from almond flour, powdered sugar and meringue with almond paste and butter cream 
						in-between. The oval-shaped dacquoise is sold only in Japan.<br><br><br>
						information<br><br>
						FUKUTARO CAFE & STORE (Yamaguchi Aburaya Fukutaro)<br><br>
						Address<br>
						1F Tenjin TERURA Building, 5-25-18, Watanabedōri, Chuoh-ku, Fukuoka<br><br>
						Phone number: 092-713-4441<br><br>
						Open hours : 9:30～20:00
		      </div>
		      <div class="blogdetail_keywords_wrap">
			      <p class="blogdetail_common_title">
				      Blog keywords
			      </p>
			      <ul class="tag_list">
              <li>
              	<a href="" class="tag">
                	#Ramen
              	</a>
              </li>
              <li>
              	<a href="" class="tag">
                	#Photogenic
              	</a>
              </li>
              <li>
              	<a href="" class="tag">
                	#High Ratings
              	</a>
              </li>
              <li>
              	<a href="" class="tag">
                	#Ramen
              	</a>
              </li>
              <li>
              	<a href="" class="tag">
                	#Photogenic
              	</a>
              </li>
              <li>
              	<a href="" class="tag">
                	#High Ratings
              	</a>
              </li>
              <li>
              	<a href="" class="tag">
                	#Ramen
              	</a>
              </li>
              <li>
              	<a href="" class="tag">
                	#Photogenic
              	</a>
              </li>
              <li>
              	<a href="" class="tag">
                	#High Ratings
              	</a>
              </li>
            </ul>
		      </div>
		      <div class="blogdetail_recommend_wrap">
			      <p class="blogdetail_common_title">
				      Recommended blogs for you
			      </p>
			      <article class="blog_common_block clearfix detail">
			      	<a href="" class="blog_pic" style="background: url(<%= image_url("common/sample_pic.jpg") %>) center center no-repeat;background-size: cover;">
				      	<span class="tag">Shopping</span>
			      	</a>
			      	<div class="right">
				      	<a href="" class="blog_main_link">
					      	<h1 class="blogdetail_title">Souvenirs in Hakata station</h1>
					      	<p class="text">
						      	There are plenty of regular souvenirs but why not taking time to choose something a bit more special? We selected 10 items that you can easily find in the city center. We excluded items that you can immediately find on the internet; at the Airport or at the station.....
					      	</p>
					      	<p class="date">2017/08/14</p>
				      	</a>
				      	<div class="bottom">
					      	<p class="place">
						      	<%= image_tag("common/place_icon.png") %>
						      	<a href="">Momochihama</a>
					      	</p>
					      	<ul class="tag_list">
		                <li>
		                	<a href="" class="tag">
			                	#Ramen
		                	</a>
		                </li>
		                <li>
		                	<a href="" class="tag">
			                	#Photogenic
		                	</a>
		                </li>
	                </ul>
				      	</div>
			      	</div>
			      	<div class="people_area">
				      	<div class="pic BlogPeople" style="background: url(<%= image_url("common/sample_people.png") %>) center center no-repeat;background-size: cover;"></div>
				      	<span class="talk">No Ramen, No Life!  by youyou</span>
			      	</div>
		      	</article>  
		      	<article class="blog_common_block clearfix detail">
			      	<a href="" class="blog_pic" style="background: url(<%= image_url("common/sample_pic.jpg") %>) center center no-repeat;background-size: cover;">
				      	<span class="tag">Shopping</span>
			      	</a>
			      	<div class="right">
				      	<a href="" class="blog_main_link">
					      	<h1 class="title">Souvenirs in Hakata station</h1>
					      	<p class="text">
						      	There are plenty of regular souvenirs but why not taking time to choose something a bit more special? We selected 10 items that you can easily find in the city center. We excluded items that you can immediately find on the internet; at the Airport or at the station.....
					      	</p>
					      	<p class="date">2017/08/14</p>
				      	</a>
				      	<div class="bottom">
					      	<p class="place">
						      	<%= image_tag("common/place_icon.png") %>
						      	<a href="">Momochihama</a>
					      	</p>
					      	<ul class="tag_list">
		                <li>
		                	<a href="" class="tag">
			                	#Ramen
		                	</a>
		                </li>
		                <li>
		                	<a href="" class="tag">
			                	#Photogenic
		                	</a>
		                </li>
	                </ul>
				      	</div>
			      	</div>
			      	<div class="people_area">
				      	<div class="pic BlogPeople" style="background: url(<%= image_url("common/sample_people.png") %>) center center no-repeat;background-size: cover;"></div>
				      	<span class="talk">No Ramen, No Life!  by youyou</span>
			      	</div>
		      	</article>
		      </div>
		      <div class="blogdetail_ex_wrap clearfix">
			      <p class="blogdetail_common_title sp">
				      Hot experiences in Hakata
			      </p>
			      <div class="blogdetail_ex_inner clearfix">
				      <article class="ex_comon_list">
		            <a href="" class="ex_common_up">
		              <div class="ex_common_pic" style="background: url(<%= image_url("ex/pic01.jpg") %>) center center no-repeat;background-size: cover;">
		                <div class="filter"></div>
		                <span class="price_tag">¥2,400</span>
		              </div>
		              <h1 class="title">Japanese Calligraphy</h1>
		              <p class="text">
		                you can learn how to write your favorite Japanese character s(kanji) the traditional way and then print it on a T-shirt......
		              </p>
		            </a>
		            <div class="ex_common_down">
		              <a href="" class="place"><span>Momochihama</span></a>
		              <a href="" class="tag"><span>Entertainment</span></a>
		            </div>
		          </article>
		          <article class="ex_comon_list">
		            <a href="" class="ex_common_up">
		              <div class="ex_common_pic" style="background: url(<%= image_url("ex/pic01.jpg") %>) center center no-repeat;background-size: cover;">
		                <div class="filter"></div>
		                <span class="price_tag">¥2,400</span>
		              </div>
		              <h1 class="title">Japanese Calligraphy</h1>
		              <p class="text">
		                you can learn how to write your favorite Japanese character s(kanji) the traditional way and then print it on a T-shirt......
		              </p>
		            </a>
		            <div class="ex_common_down">
		              <a href="" class="place"><span>Momochihama</span></a>
		              <a href="" class="tag"><span>Entertainment</span></a>
		            </div>
		          </article>
			      </div>
		      </div>
	      </section>
	      <aside class="blogdetail_aside">
		      <div class="blodetail_writer_wrap clearfix">
			      <div class="inner">
				      <div class="pic" style="background: url(<%= image_url("common/sample_people.png") %>) center center no-repeat;background-size: cover;"></div>
				      <div class="right">
					      <p class="writer">
						      Writer<span>youyou</span>
					      </p>
				      </div>
			      </div>
			      <p class="writer_talk">No ramen, No life !!</p>
		      </div>
		      <div class="blodetail_aside_ranking">
			      <p class="blogdetail_aside_title">Blog ranking</p>
			      <article class="blogdetail_ranking_block">
			        <a href="" class="link clearfix">
				        <%= image_tag("blog/rank_icon01.png", class: "num_pic") %>
				        <div class="pic" style="background: url(<%= image_url("common/sample_pic.jpg") %>) center center no-repeat;background-size: cover;">
				        </div>
				        <h1 class="title">Souvenirs in Hakata station</h1>
			        </a>
		        </article>
		        <article class="blogdetail_ranking_block">
			        <a href="" class="link clearfix">
				        <%= image_tag("blog/rank_icon02.png", class: "num_pic") %>
				        <div class="pic" style="background: url(<%= image_url("common/sample_pic.jpg") %>) center center no-repeat;background-size: cover;">
				        </div>
				        <h1 class="title">Souvenirs in Hakata station</h1>
			        </a>
		        </article>
			      <article class="blogdetail_ranking_block">
			        <a href="" class="link clearfix">
				        <%= image_tag("blog/rank_icon03.png", class: "num_pic") %>
				        <div class="pic" style="background: url(<%= image_url("common/sample_pic.jpg") %>) center center no-repeat;background-size: cover;">
				        </div>
				        <h1 class="title">Souvenirs in Hakata station</h1>
			        </a>
		        </article>
		      </div>
		      <div class="blodetail_aside_ranking">
			      <p class="blogdetail_aside_title">Blog category</p>
			      <select name="category_choose" class="blogdetail_aside_select">
							<option value="Culture">Culture</option>
							<option value="Shoppint">Shopping</option>
						</select>
		      </div>
	      </aside>
      </div>
      
	  </div>
  </div>