<!DOCTYPE html>
<html>
  <head>
    <title><%= yield :title_header %></title>    
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="description" content="●●●">
    <meta name="Keywords" content="●●●">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no,address=no,email=no">
    <meta property="og:type" content="website">
    <meta property="og:title" content=" ">
    <meta property="og:image" content=" ">
    <meta property="og:site_name" content=" ">
    <meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE" >
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">
    
  </head>

  <body id="TOP">
    <%= render 'layouts/header'%>
    
    <div class="top_main_wrap">
      <% flash.each do |key, msg| %>
        <div class="alert alert-info alert-dismissable" role="alert" style="margin: 2rem !important;">
          <button type="button" data-dismiss="alert" class="close">
            <span aria-hidden="true">&times;</span>
          </button>
          <%= msg %>
          </div>
      <% end %>
      <%= yield %>
      <%= render 'layouts/sns_sidebar'%>
      <a href="#TOP" class="common_up_btn">
        <%= image_tag("common/up_arrow.png", alt: "△") %>
      </a>
      <%= render 'layouts/footer'%>
    </div>

  <%= javascript_include_tag 'footer', 'data-turbolinks-track': 'reload' %>
  <script>
    Modernizr.load({
      test: Modernizr.csstransforms3d && Modernizr.csstransitions,
      yep : ['<%= javascript_url("jquery.hoverfold.js")%>'],
      nope: '<%= stylesheet_url("hover/fallback.css") %>',
      callback : function( url, result, key ) {
          
        if( url === '<%= javascript_url("jquery.hoverfold.js")%>') {
          $( '.top_common_title' ).hoverfold();
        }
      }
    });
  </script>
  </body>
</html>
